certifi==2020.6.20
chardet==3.0.4
gevent==20.9.0
greenlet==0.4.17
idna==2.10
ifaddr==0.1.7
prettyprint==0.1.5
requests==2.24.0
roonapi==0.0.22
six==1.15.0
urllib3==1.25.10
websocket==0.2.1
websocket-client==0.57.0
zope.event==4.5.0
zope.interface==5.1.2
